@value --myValue: 5;
@unknown atrule;

.myClass {
  @util myUtil(1, 2);
  @unknown nestedatrule;
}

@-webkit-keyframes {
  0% {
    top: 0;
  }
}

@media (-webkit-min-device-pixel-ratio: 1) {
  color: white;
}

.good {
  color: blue;
  @util size(1px);
  @util position(absolute, 0);
  background: red;
  @util padding(2px);
}
