@value --myValue: 5;
@unknown atrule;

.myClass {
  @unknown nestedatrule;
}

@-webkit-keyframes {
  0% {
    top: 0;
  }
}

@media (-webkit-min-device-pixel-ratio: 1) {
  color: white;
}

.good {
  color: blue;
  background: red;
}
