.fine {
  color: white;
}
.missingNewlineBeforeBlock {
  color: black;
}


.extraNewlineBeforeBlock {
  color: black;
}

.extraNewlineBetweenProperties {
  color: white;

  background-color: black;
}

.fine {
  .fine {
    color: white;
  }
  .missingNewLineBeforeNestedBlock {
    color: white;
  }


  .extraNewlineBeforeNestedBlock {
    color: white;
  }
}
