.example {
  color: white;
  background-color: black !important;
  unknown-property: blue;
  -webkit-border-radius: 3px; /* vendor prefix */
  display: -webkit-flex;
}

.quotes[data-title='good'] {
  font-family: 'some-custom-font', sans-serif;
  background-image: url('./image.png');
}

.quotes[data-title=bad] {
  font-family: "custom-font-a", custom-font-b;
  background-image: url(./image.png);
}
